.vscode
.gitignore
src/
out/
**/*.js.map
build
node_modules
tsconfig.json
*.vsix
dap/
.eslintrc.json
.git-blame-ignore-revs
.gitattributes
.prettierignore
.prettierrc.yml
ThirdPartyNotices.txt
package-lock.json
