# This Action is triggered when a new release tag is created in the repository.
# Based on: https://code.visualstudio.com/api/working-with-extensions/continuous-integration#github-actions
# It packages and publishes the extension to the VSCode marketplace.

name: Publish the VS Code Extension
on:
  push:
    branches: [master]
  release:
    types: closed

jobs:
  publish:
    name: Publish the VS Code Extension
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    if: ${{ success() && startsWith(github.ref, 'refs/tags/') &&  matrix.os == 'ubuntu-latest' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - run: npm install  --frozen-lockfile
      - run: npm install -g vsce
      - run: npm run pretest
      - name: Finally, publish to the marketplace.
        run: npm run publish
        env:
          VSCE_PAT: ${{ secrets.VS_MARKETPLACE_TOKEN }}
